body{
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 10px;
    color: lightgray;
    text-align: center;
    padding-bottom: 20px;
}
p{
    text-align: justify;
}
span{
    color:orange;
}
#link{
    color: white;
    font: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding:5px 25px;
    border-radius: 5px;
}
.flexible-container{
    display: flex;

}
.top-banner{
    background-image: url(pictures/top-banner.png);
    background-repeat: no-repeat;
}
.header-part{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 100px;
}
.header-part img{
    width: 80%;
}
.middle-part{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}
.middle-banner{
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middle-part img{
    width: 80%;
}
.Experience-item{
    width: 40%;
    padding-right: 2%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
.lower-banner{
    background-image: url(pictures/exp-bg.png);
    background-repeat: no-repeat; 
}
#Baby-Web-Developer{
    border-left: 5px solid;
    border-image:linear-gradient(tomato, yellow);
    border-image-slice: 1;
}
#Full-Stack-Web-Developer{
    border-left: 5px solid;
    border-image: linear-gradient(purple, violet);
    border-image-slice: 1;
} 
